@import "/src/styles/root";

.projects-bg {
    color: $color3;
    height: 100%;
    font-family: $FontMontserrat;
    h1 {
        text-align: center;
        padding-top: 2rem;
        font-size: 3.5rem;
    }
    .projects-wrapper{
        display: flex; 
        flex-wrap: wrap; 
        justify-content: space-around;
        margin: 1rem;
        .project-container {
            padding: 2rem;
            display: flex;
            flex-direction: column;
            h2 {
                text-align: center;
                padding-bottom: 1rem;
                text-shadow: 1px 1px 0 $color6;
            }
            .project-info {
                background-color: $color4;
                border-radius: 30px;
                padding: 2rem;
                max-width: 800px;
                height: 600px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                &:hover {
                    box-shadow: inset 0 0 0 1.5px $color3;
                }
              
                img {
                    max-width: 800px;
                    border-radius: 30px;
                    padding: 1rem;
                }
                h3{
                    font-family: $FontRoboto;
                    font-weight: 500;
                }
                h3, h4 {
                    padding: 0.5rem;
                }
                #check {
                    text-align: center;
                }
                .project-btns {
                    display: flex;
                    justify-content: space-around;
                    a {
                        text-decoration: none;
                        font-family: $FontRoboto;
                        color: $color3;
                    }
                    button {
                        @extend %btn;
                        &:hover {
                            background-color: $color6;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1024px) {
    .projects-bg {
        /* width: 100vw; */
        .projects-wrapper {
            margin: 0;
            .project-container {
                padding: 1rem 0;
                .project-info {
                    max-width: 700px;
                    padding: 1rem;

                    img {
                        max-width: 700px;
                        align-self: center;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .projects-bg {
        .projects-wrapper {
            .project-container {
                  padding: 1rem 0;
                .project-info {
                    max-width: 550px;
                    img {
                        max-width: 500px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 576px) {
    .projects-bg {
        .projects-wrapper {
            margin: 0;
            justify-content: center;
            .project-container {
                margin-bottom: 2rem;
                padding: 0;
                max-width: 100vw;
                width: 100%;
                .project-info {
                   
                    border-radius: 0;
                    /* padding: 1rem 0; */
                    height: auto;
                    &:hover{
                        box-shadow: none;
                    }

                    img {
                        max-width: 95%;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 375px) {
    .project-info {
        img {
            max-width: 300px;
        }
    }
}